@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

table * {
  line-height: 0;
}

.colorBox {

  border: none;
  padding: 0;

  @include breakpoint('small') {
    width: 0.5em;
    height: 0.5em;
    &.large {
      width: 0.9em;
      height: 0.9em;
    }
  }

  @include breakpoint('large') {
    width: 0.6em;
    height: 0.6em;
    &.large {
      width: 1.1em;
      height: 1.1em;
    }
  }

  @include breakpoint('xlarge') {
      width: 0.75em;
      height: 0.75em;
      &.large {
        width: 1.5em;
        height: 1.5em;
      }
  }

  margin: 1px;

  &.grid {
    border: 1px solid #333;
  }

  &.colorBlack {
    background-color: black;
  }
}

.palgrid {
  //line-height: 0;
  background-color: $black;
  padding: 1em;
}

.accordion-content {
  color: black;
}