{% extends 'layout.html.twig' %}

{% block mainContent %}
    <div class="row column">
        <h1>Color palettes</h1>
        <blockquote>You want to create game graphics for some kind of retro style game but don't know which colors to use?<br />
            Here's a small selection of color palettes I found in the web which you can export to GIMP palette or AdobeSwatchExchange file.<br/>
            Sometimes the ASE exporter results in an almost empty file. I'm on it!<br/><br/>
            Current number of palettes: {{ palettes|length }}</blockquote>
    </div>

    {#
    <div class="row column">
        <h3>Convert palette</h3>
        <blockquote>Do you want to convert an ASE file to GPL or vice versa? Just use this handy tool:<br/>
            <button class="button">Convert</button>
        </blockquote>
    </div>
    #}

    <div class="row columns small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-by-row="true">
        {% for pal in palettes %}
            {% include 'palette_bar.html.twig' %}
        {% endfor %}
    </div>

    <div class="reveal">
        <h3>Convert palette</h3>
        <form action="{{ path('convert_pal') }}" method="post" enctype="multipart/form-data">
        </form>
    </div>
{% endblock %}
