{% extends 'layout.html.twig' %}

{% block mainContent %}
    <div class="row">
        <div class="col-lg-12">
            <blockquote>You want to create game graphics for some kind of retro style game but don't know which colors to use?<br />
                Here's a small selection of color palettes I found in the web which you can export to GIMP palette or AdobeSwatchExchange file.<br/><br/>
                Current number of palettes: {{ palettes|length }}
            </blockquote>
        </div>
    </div>

    <div id="palette_container" data-currentoffset="{{ offset }}">
        {% include 'palette_list.html.twig' with {'palettes': palettes} %}
    </div>
{% endblock %}

{% block additionalJS %}
    <script type="text/javascript">
        $('.palgrid').matchHeight();
        $('.palinfos').matchHeight();
        $('.palbuttons').matchHeight();

        $(document).ready(function() {
            var win = $(window),
                endreached = false;

            // Each time the user scrolls
            win.scroll(function() {
                // End of the document reached?
                if ($(document).height() - win.height() <= win.scrollTop()) {
                    if (!endreached) {
                        $.get('{{ app.request.baseUrl ~ '/load/'}}' + $('#palette_container').attr('data-currentoffset'), function (response) {
                            endreached = response.endreached;
                            if (endreached == false) {
                                $('#palette_container').append(response.html).attr('data-currentoffset', response.offset);
                                $('.palgrid').matchHeight();
                                $('.palinfos').matchHeight();
                                $('.palbuttons').matchHeight();
                            }
                        }, 'json');
                    }
                }
            });
        });
    </script>
{% endblock %}