<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Color Palettes</title>
        <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/app.css' }}" />
        <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/font-awesome.min.css'}}" />
        {% block additionalCSS %}{% endblock %}
    </head>
    <body>
        <div data-sticky-container>
            <nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">Color Palettes</li>
                        <li><a href="{{ path('homepage') }}">Index</a></li>
                        <li><a href="{{ path('editor') }}">Editor <span class="alert badge"><strong>ALPHA</strong></span></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block mainContent %}{% endblock %}

        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        {#<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>#}
        <script type="text/javascript" src="/bower_components/motion-ui/dist/motion-ui.min.js"></script>
        <script type="text/javascript" src="/bower_components/what-input/what-input.min.js"></script>
        <script type="text/javascript" src="/bower_components/foundation-sites/dist/foundation.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>

        {% block additionalJS %}{% endblock %}
    </body>
</html>