{% extends 'layout.html.twig' %}

{% block mainContent %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Color palette preview</h1>
        </div>
    </div>

    {% include 'palette_bar.html.twig' %}
{% endblock %}
