<div class="reveal" id="editorHelpDialog" data-reveal>
    <h4>Help (in short terms):</h4>
    <ul>
        <li>define your grid size with the input fields</li>
        <li>choose your desired background color with the color picker</li>
        <li>use "reset" for deleting all colors</li>
        <li>use the "Current color" to choose a desired color, then just "draw" it onto the grid</li>
        <li>you can load an image on the right and move it along with the buttons on top; choose the number of moved pixels with the input field below; pick a color in the image and draw it on the grid.</li>
        <li>when you're ready, give your palette a name and optionally a comment; click on "<i class="fa fa-save"></i> ASE" or "<i class="fa fa-save"></i> GPL" to save store your palette as a .gpl or .ase file</li>
        <li>the palette is automatically stored in the browsers local storage (html5), so if you close the tab or browser and call the editor again, your palette is still there (maybe this functionality is not working everywhere!! so beware!)</li>
        <li>do you need a color ramp between two colors? just click on "color ramp", click on the first color and then on the second one. a ramp will be created between them. keep in mind, that color ramps are only allowed horizontal or vertical!</li>
    </ul>
    <br />
    <h4>Next steps todo:</h4>
    <ul>
        <li>storing in local storage will be made optional</li>
        <li>importing of palettes will be added</li>
        <li>UI is still made for functional use and will be improved!</li>
        <li>a JS color picker will be implemented in the future to support more browsers; currently it's the standard HTML5 input-type-color </li>
        <li>have ideas? let me know on Twitter by writing to @ravetracer 😀</li>
    </ul>

    <button class="close-button" data-close aria-label="Close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>