{% extends 'layout.html.twig' %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/color-sampler.min.css' }}" />
{% endblock %}

{% block mainContent %}
    <div class="row column">
        <h1>Color Editor <span class="alert label"><strong>ALPHA</strong></span></h1>
        <p class="lead">Attention! This palette editor is very early alpha and not completed at all! Use it at your own risk and please read the help below!</p>
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Help</a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        <li>define your grid size with the input fields</li>
                        <li>choose your desired background color with the color picker</li>
                        <li>use "reset" for deleting all colors</li>
                        <li>use the "Current color" to choose a desired color, then just "draw" it onto the grid</li>
                        <li>you can load an image on the right and move it along with the buttons on top; choose the number of moved pixels with the input field below; pick a color in the image and draw it on the grid.</li>
                        <li>when you're ready, give your palette a name and optionally a comment; click on "<i class="fa fa-save"></i> ASE" or "<i class="fa fa-save"></i> GPL" to save store your palette as a .gpl or .ase file</li>
                        <li>the palette is automatically stored in the browsers local storage (html5), so if you close the tab or browser and call the editor again, your palette is still there (maybe this functionality is not working everywhere!! so beware!)</li>
                    </ul>
                    <br />
                    <h4>Next:</h4>
                    <ul>
                        <li>storing in local storage will be made optional</li>
                        <li>importing of palettes will be added</li>
                        <li>UI is still made for functional use and will be improved!</li>
                        <li>a JS color picker will be implemented in the future to support more browsers; currently it's the standard HTML5 input-type-color </li>
                        <li>have ideas? let me know on Twitter by writing to @ravetracer 😀</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <form>
        <div class="row">
            <div class="medium-2 columns">
                <label class="secondary label">
                    Columns
                    <input type="number" id="edit_cols" value="5">
                </label>
            </div>
            <div class="medium-2 columns">
                <span class="secondary label">
                    Rows
                    <input type="number" id="edit_rows" value="5">
                </span>
            </div>
            <div class="medium-2 columns">
                <label class="label">Palette name
                    <input type="text" id="paletteName" />
                </label>
            </div>
            <div class="medium-2 columns">
                <label class="label">Palette comment
                    <input type="text" id="paletteComment" />
                </label>
            </div>
            <div class="medium-3 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <input id="previewImageLoader" type="file" onchange="loadPreviewImage(this, 0, 0);"/>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <button type="button" class="button" id="slideImgLeft"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="button" id="slideImgRight"><i class="fa fa-chevron-right"></i></button>
                        <button type="button" class="button" id="slideImgUp"><i class="fa fa-chevron-up"></i></button>
                        <button type="button" class="button" id="slideImgDown"><i class="fa fa-chevron-down"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-2 columns">
                <label class="secondary label">
                    Background color
                    <input type="color" class="colorBox large" id="edit_bgcol">
                </label>
            </div>
            <div class="medium-2 columns">
                <span class="secondary label">Current color
                    <input type="color" class="colorBox large" id="sourcecolor">
                </span>
            </div>
            <div class="medium-2 columns">
                <input type="button" class="alert button" value="Reset" id="resetPalette" />
            </div>
            <div class="medium-2 columns text-justify">
                <div class="button-group">
                    <button type="button" class="button text-left savePalette" data-savetype="ase"><i class="fa fa-save"></i> ASE</button>
                    <button type="button" class="button text-right savePalette" data-savetype="gpl"><i class="fa fa-save"></i> GPL</button>
                </div>
            </div>
            <div class="medium-3 columns">
                <input type="number" value="15" id="imgSlideSteps"/>
            </div>
        </div>

        <div class="row">
            <div class="medium-9 columns">
                <div id="colorgrid"></div>
            </div>
            <div class="medium-3 columns">
                <canvas id="imagePicker" width="250" height="300"></canvas>
            </div>
        </div>
    </form>
{% endblock %}

{% block additionalJS %}
    <script src="/js/color-sampler.min.js"></script>
    <script src="/js/tinycolor-min.js"></script>
    <script src="/js/download.js"></script>
    {% include 'editor/js/editor.html.twig' %}
{% endblock %}