{% extends 'layout.html.twig' %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/color-sampler.min.css' }}" />
{% endblock %}

{% block mainContent %}
    <div class="row column">
        <h1>Color Editor</h1>
    </div>

    <form>
        <div class="row">
            <div class="medium-2 columns">
                <label>Columns:
                    <input type="number" id="edit_cols" value="5">
                </label>
            </div>
            <div class="medium-2 columns">
                <label>Rows:
                    <input type="number" id="edit_rows" value="5">
                </label>
            </div>
            <div class="medium-2 columns">
                <label>Background color:
                    <input type="color" class="colorBox large" id="edit_bgcol">
                </label>
            </div>
            <div class="medium-2 columns end">
                <input type="button" class="btn" value="Reset" id="resetPalette" />
            </div>
        </div>

        <div class="row">
            <div class="medium-1 columns">
                Colorpicker: <input type="color" class="colorBox large" id="sourcecolor" draggable="true" ondragstart="dragcol(event)">
            </div>
            <div class="medium-1 columns end">
                CP2: <div class="colorBox large colorBlack" id="colorPickerImg" draggable="true" ondragstart="dragcol(event)"></div>
            </div>
        </div>

        <div class="row">
            <div class="medium-9 columns">
                <div id="colorgrid"></div>
            </div>
            <div class="medium-3 columns">
                <canvas id="imagePicker" width="300" height="300"></canvas>
            </div>
        </div>
    </form>
{% endblock %}

{% block additionalJS %}
    {#<script src="/js/jcanvas.min.js"></script>#}
    <script src="/js/color-sampler.min.js"></script>
    {% include 'editor/js/editor.html.twig' %}
{% endblock %}