{% extends 'layout.html.twig' %}

{% block mainContent %}
    <div class="row column">
        <p class="lead">Attention! This palette editor is very early alpha and not completed at all! Use it at your own risk and please consider reading the help!</p>
    </div>

    <form>
        <div class="row">
            <div class="medium-2 columns">
                <label class="secondary label">
                    Columns
                    <input type="number" id="edit_cols" value="5">
                </label>
            </div>
            <div class="medium-2 columns">
                <span class="secondary label">
                    Rows
                    <input type="number" id="edit_rows" value="5">
                </span>
            </div>
            <div class="medium-2 columns">
                <label class="secondary label">
                    <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Current background color">
                        Background<br/>
                        <input type="text" class="colorBox large" id="edit_bgcol" data-color="#000000">
                    </span>
                </label>
                <label class="secondary label">
                    <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Current 'draw' color">
                        Current<br/>
                        <input type="text" class="colorBox large" id="sourcecolor" data-color="#000000"/>
                    </span>
                </label>
            </div>
            <div class="medium-1 columns">
                <a href="#" class="small button" id="startColorRamp">
                    Color ramp
                </a>
                <span class="alert badge hide defineStartIndicator"><i class="fa fa-circle-o"></i></span>
                <span class="warning badge hide defineEndIndicator"><i class="fa fa-circle"></i></span>
            </div>
            <div class="medium-2 columns">
                <label class="secondary label">Image slide speed in px
                    <input type="number" value="15" id="imgSlideSteps"/>
                </label>
            </div>
            <div class="medium-3 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <input id="previewImageLoader" type="file" onchange="loadPreviewImage(this, 0, 0);"/>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image to the left">
                            <a href="#" class="small button slideImage" data-direction='left'>
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image to the right">
                            <a href="#" class="small button slideImage" data-direction='right'>
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image upwards">
                            <a href="#" class="small button slideImage" data-direction='up'>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image downwards">
                            <a href="#" class="small button slideImage" data-direction='down'>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Zoom in">
                            <a href="#" class="small button imageZoom" data-zoom="in">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Zoom out">
                            <a href="#" class="small button imageZoom" data-zoom="out">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-9 columns">
                <div id="colorgrid"></div>
            </div>
            <div class="medium-3 columns">
                <canvas id="imagePicker" width="250" height="300"></canvas>
            </div>
        </div>
    </form>

    {% include 'editor/help.html.twig' %}
    {% include 'editor/exportdialog.html.twig' %}
{% endblock %}

{% block additionalMenuEntries %}
    <li>
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#">File</a>
                <ul class="menu vertical align-right">
                    <li>
                        <a href="#">
                            <label for="importGplFile"><i class="fa fa-upload"></i> Import .gpl file</label>
                            <input id="importGplFile" type="file" class="show-for-sr" onchange="loadGimpPalette(this);"/>
                        </a>
                    </li>
                    <li><a data-open="exportPaletteDialog"><i class="fa fa-save"></i> Export palette</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#">Edit</a>
                <ul class="menu vertical align-right">
                    <li><a href="#" class="small button" id="undoAction"><i class="fa fa-history"></i> Undo last action</a></li>
                    <li><a href="#" class="small alert button" id="resetPalette">Reset palette</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a data-open="editorHelpDialog">Help</a></li>
{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/color-sampler.min.css' }}" />
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/spectrum.css' }}" />
{% endblock %}

{% block additionalJS %}
    <script src="/js/spectrum.js"></script>
    <script src="/js/color-sampler.min.js"></script>
    <script src="/js/chroma.min.js"></script>
    <script src="/js/download.js"></script>
    {% include 'editor/js/editor.html.twig' %}
{% endblock %}