{% extends 'layout.html.twig' %}

{% block mainContent %}
    <div class="row column">
        <h1>Color Editor <span class="alert label"><strong>ALPHA</strong></span></h1>
        <p class="lead">Attention! This palette editor is very early alpha and not completed at all! Use it at your own risk and please read the help below!</p>
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Help</a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        <li>define your grid size with the input fields</li>
                        <li>choose your desired background color with the color picker</li>
                        <li>use "reset" for deleting all colors</li>
                        <li>use the "Current color" to choose a desired color, then just "draw" it onto the grid</li>
                        <li>you can load an image on the right and move it along with the buttons on top; choose the number of moved pixels with the input field below; pick a color in the image and draw it on the grid.</li>
                        <li>when you're ready, give your palette a name and optionally a comment; click on "<i class="fa fa-save"></i> ASE" or "<i class="fa fa-save"></i> GPL" to save store your palette as a .gpl or .ase file</li>
                        <li>the palette is automatically stored in the browsers local storage (html5), so if you close the tab or browser and call the editor again, your palette is still there (maybe this functionality is not working everywhere!! so beware!)</li>
                        <li>do you need a color ramp between two colors? just click on "color ramp", click on the first color and then on the second one. a ramp will be created between them. keep in mind, that color ramps are only allowed horizontal or vertical!</li>
                    </ul>
                    <br />
                    <h4>Next:</h4>
                    <ul>
                        <li>storing in local storage will be made optional</li>
                        <li>importing of palettes will be added</li>
                        <li>UI is still made for functional use and will be improved!</li>
                        <li>a JS color picker will be implemented in the future to support more browsers; currently it's the standard HTML5 input-type-color </li>
                        <li>have ideas? let me know on Twitter by writing to @ravetracer 😀</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <form>
        <div class="row">
            <div class="medium-2 columns">
                <label class="secondary label">
                    Columns
                    <input type="number" id="edit_cols" value="5">
                </label>
            </div>
            <div class="medium-2 columns">
                <span class="secondary label">
                    Rows
                    <input type="number" id="edit_rows" value="5">
                </span>
            </div>
            <div class="medium-2 columns">
                <label class="label">Palette name
                    <input type="text" id="paletteName" />
                </label>
            </div>
            <div class="medium-2 columns">
                <label class="label">Palette comment
                    <input type="text" id="paletteComment" />
                </label>
            </div>
            <div class="medium-3 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <input id="previewImageLoader" type="file" onchange="loadPreviewImage(this, 0, 0);"/>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image to the left">
                            <a href="#" class="small button slideImage" data-direction='left'>
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image to the right">
                            <a href="#" class="small button slideImage" data-direction='right'>
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image upwards">
                            <a href="#" class="small button slideImage" data-direction='up'>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Move image downwards">
                            <a href="#" class="small button slideImage" data-direction='down'>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Zoom in">
                            <a href="#" class="small button imageZoom" data-zoom="in">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </span>
                        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Zoom out">
                            <a href="#" class="small button imageZoom" data-zoom="out">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-2 columns">
                <label class="secondary label">
                    <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Current background color">
                        Background<br/>
                        <input type="text" class="colorBox large" id="edit_bgcol" data-color="#000000">
                    </span>
                </label>
                <label class="secondary label">
                    <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Current 'draw' color">
                        Current<br/>
                        <input type="text" class="colorBox large" id="sourcecolor" data-color="#000000"/>
                    </span>
                </label>
            </div>
            <div class="medium-2 columns">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Undo last action">
                    <a href="#" class="button" id="undoAction" title="Undo last action">
                        <i class="fa fa-history"></i>
                    </a>
                </span>
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Delete all colors!">
                    <a href="#" class="alert button" id="resetPalette">Reset</a>
                </span>
            </div>
            <div class="medium-2 columns">
                <a href="#" class="button" id="startColorRamp">
                    Color ramp
                </a>
                <span class="alert badge hide defineStartIndicator"><i class="fa fa-circle-o"></i></span>
                <span class="warning badge hide defineEndIndicator"><i class="fa fa-circle"></i></span>
            </div>
            <div class="medium-2 columns">
                <div class="button-group">
                    <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Save as Adobe Swatch Exchange file">
                        <a href="#" class="button savePalette" data-savetype="ase">
                            <i class="fa fa-save"></i> ASE
                        </a>
                    </span>
                    <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Save as Gimp palette file">
                        <a href="#" class="button savePalette" data-savetype="gpl">
                            <i class="fa fa-save"></i> GPL
                        </a>
                    </span>
                </div>
            </div>
            <div class="medium-3 columns">
                <input type="number" value="15" id="imgSlideSteps"/>
            </div>
        </div>

        <div class="row">
            <div class="medium-9 columns">
                <div id="colorgrid"></div>
            </div>
            <div class="medium-3 columns">
                <canvas id="imagePicker" width="250" height="300"></canvas>
            </div>
        </div>
    </form>
{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/color-sampler.min.css' }}" />
    <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/css/spectrum.css' }}" />
{% endblock %}

{% block additionalJS %}
    <script src="/js/spectrum.js"></script>
    <script src="/js/color-sampler.min.js"></script>
    <script src="/js/chroma.min.js"></script>
    <script src="/js/download.js"></script>
    {% include 'editor/js/editor.html.twig' %}
{% endblock %}