<script type="text/javascript">
    //
    // the main color editor
    //
    var colorEditor = {
        cols: 0,
        rows: 0,
        backgroundColor: '#000000',
        parentContainer: null,
        storedColors: {},

        setColumns: function(numColumns) {
            this.cols = parseInt(numColumns, 10);
            this.saveInLocalStorage('columns');
        },

        setRows: function (numRows) {
            this.rows = parseInt(numRows, 10);
            this.saveInLocalStorage('rows');
        },

        setColsAndRows: function (numColumns, numRows) {
            this.setColumns(numColumns);
            this.setRows(numRows);
        },

        setBackgroundColor: function (backgroundColor) {
            this.backgroundColor = backgroundColor;
        },

        setParentContainer: function (container) {
            this.parentContainer = container
        },

        saveInLocalStorage: function(saveWhat) {
            if (typeof(Storage) !== "undefined") {
                switch (saveWhat) {
                    case 'colors':
                        localStorage.setItem('backgroundColor', this.backgroundColor);
                        localStorage.setItem('storedColors', JSON.stringify(this.storedColors));
                        break;

                    case 'columns':
                        localStorage.setItem('numCols', this.cols);
                        break;

                    case 'rows':
                        localStorage.setItem('numRows', this.rows);
                        break;
                }
            }
        },

        /**
         * store current colors; ignore unchanged colors so background color can be changed for unset colors
         */
        storeColors: function() {
            this.storedColors = {};
            for (var y = 1; y <= this.rows; y++) {
                for (var x = 1; x <= this.cols; x++) {
                    var colElement = $('.gridcolor[data-colx="' + x + '"][data-coly="' + y + '"]'),
                        xyColor = tinycolor(colElement.css('background-color')).toHexString(),
                        pos = x.toString()+'-'+y.toString();

                    if (colElement.attr('data-changed') == '1') {
                        this.storedColors[pos] = [xyColor, 1];
                    } else {
                        this.storedColors[pos] = [xyColor, 0];
                    }
                }
            }
            // store in local storage, if possible
            this.saveInLocalStorage('colors');
        },

        /**
         * restore colors; set changed colors from array and unchanged with current background color
         */
        restoreColors: function() {
            for (var y = 1; y <= this.rows; y++) {
                for (var x = 1; x <= this.cols; x++) {
                    var pos = x.toString()+'-'+y.toString();

                    if (this.storedColors[pos]) {
                        if (this.storedColors[pos][1] == 1) {
                            $('.gridcolor[data-colx="' + x + '"][data-coly="' + y + '"]').css('background-color', this.storedColors[pos][0]).attr('data-changed', '1');
                        } else {
                            $('.gridcolor[data-colx="' + x + '"][data-coly="' + y + '"]').css('background-color', this.backgroundColor).attr('data-changed', '0');
                        }
                    }
                }
            }
        },

        setStoredColors: function(storedColors) {
            this.storedColors = storedColors;
        },

        /**
         * render the color grid
         * - used on resize and background color change
         */
        renderGrid: function(ignoreStoreColors) {
            var numColors = this.rows * this.cols,
                colBreak = 1,
                colX = 1,
                colY = 1;

            // backup colors
            if (!ignoreStoreColors) {
                this.storeColors();
            }

            // clear parent container
            $(this.parentContainer).html('');

            // walk through number of colors
            for (var cnt = 1; cnt <= numColors; cnt++) {

                var newColorBox = '<div class="colorBox large float-left gridcolor" data-changed="0" style="background-color: ' + this.backgroundColor + '" data-colx="' + colX + '" data-coly="' + colY + '"></div>';
                $(this.parentContainer).append(newColorBox);
                colBreak++;
                colX++;
                // break to new row
                if (colBreak > this.cols) {
                    $(this.parentContainer).append('<div class="clearfix"></div>');
                    colBreak = 1;
                    colX = 1;
                    colY++;
                }
            }
            // restore backed up colors
            this.restoreColors();
        },

        resetPalette: function(backgroundColor) {
            this.storedColors = {};
            this.saveInLocalStorage('colors');
            this.renderGrid(true);
        }
    };

    function loadPreviewImage(input, originX, originY) {
        /**
         * image picker code
         */
        var canvas = document.getElementById('imagePicker'),
            context = canvas.getContext('2d'),
            img = new Image();

        img.onload = function () {
            context.drawImage(this, originX, originY);
        };

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                img.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(document).ready(function () {

        var numCols = $('#edit_cols').val(),
            numRows = $('#edit_rows').val(),
            bgColor = $('#edit_bgcol').val(),
            parent  = $('#colorgrid'),
            storedColors = null,
            originX = 0,
            originY = 0,
            slideSpeed = parseInt($('#imgSlideSteps').val(), 10);

        if (typeof(Storage) !== "undefined") {
            if (localStorage.getItem('numCols') !== null) {
                numCols = localStorage.getItem('numCols');
                $('#edit_cols').val(numCols);
            }

            if (localStorage.getItem('numRows') !== null) {
                numRows = localStorage.getItem('numRows');
                $('#edit_rows').val(numRows);
            }

            if (localStorage.getItem('storedColors') !== null) {
                storedColors = JSON.parse(localStorage.getItem('storedColors'));
            }

            if (localStorage.getItem('backgroundColor') !== null) {
                bgColor = localStorage.getItem('backgroundColor');
                $('#edit_bgcol').val(bgColor);
            }
        }

        // initially draw color grid
        colorEditor.setColsAndRows(numCols, numRows);
        colorEditor.setParentContainer(parent);
        colorEditor.setBackgroundColor(bgColor);
        if (storedColors !== null) {
            colorEditor.setStoredColors(storedColors);
        }
        colorEditor.renderGrid(true);

        // change grid size (currently on click)
        $('input#edit_cols, input#edit_rows').on('click blur', function() {
            colorEditor.storeColors();
            colorEditor.setColsAndRows($('#edit_cols').val(), $('#edit_rows').val());
            colorEditor.renderGrid();
        });

        // change background color
        $('input#edit_bgcol').change(function() {
            colorEditor.storeColors();
            colorEditor.setBackgroundColor($(this).val());
            colorEditor.renderGrid();
        });

        $('#resetPalette').click(function() {
            colorEditor.resetPalette();
        });

        $('#imagePicker').colorSampler({
            onSelect: function(color) {
                var hexCol = tinycolor(color).toHexString();
                $('#sourcecolor').val(hexCol);
            }
        });

        /**
         * "draw" color onto grid
         */
        $('#colorgrid').on('click', '.gridcolor', function() {
            var elem = $(this),
                bgCol = tinycolor($('#edit_bgcol').val()).toHexString(),
                srcCol = tinycolor($('#sourcecolor').val()).toHexString();

            console.log(bgCol, srcCol);
            elem.css('background-color', srcCol);
            if (bgCol === srcCol) {
                elem.attr('data-changed', '0');
            } else {
                elem.attr('data-changed', '1');
            }
            colorEditor.storeColors();
        });

        $('#slideImgLeft').click(function () {
            originX-=slideSpeed;
            loadPreviewImage(document.getElementById('previewImageLoader'), originX, originY);
        });

        $('#slideImgRight').click(function () {
            originX+=slideSpeed;
            loadPreviewImage(document.getElementById('previewImageLoader'), originX, originY);
        });

        $('#slideImgUp').click(function () {
            originY-=slideSpeed;
            loadPreviewImage(document.getElementById('previewImageLoader'), originX, originY);
        });

        $('#slideImgDown').click(function () {
            originY+=slideSpeed;
            loadPreviewImage(document.getElementById('previewImageLoader'), originX, originY);
        });

        $('#imgSlideSteps').change(function() {
            slideSpeed = parseInt($(this).val(), 10);
        });

        $('.savePalette').click(function () {
            var colorsToSave = JSON.stringify(colorEditor.storedColors),
                palName = $('#paletteName').val(),
                palComment = $('#paletteComment').val(),
                saveType = $(this).attr('data-savetype');

            $.post('/editor/save', { 'paletteData': colorsToSave, 'paletteName': palName, 'paletteComment': palComment, 'columns': colorEditor.cols, 'rows': colorEditor.rows, 'filetype': saveType}, function(response) {
                if (response.status === "success") {
                    download(window.atob(response.exportString), palName+'.'+response.extension, 'text/plain');
                }
            }, 'json');
        });
    });
</script>